[submodule "src/0. simple-architecutre"]
	path = src/0. simple-architecutre
	url = https://github.com/kaonmir/terraform-aws-simple-architecture
[submodule "src/5. nemo-smart-helm-chart"]
	path = src/5. nemo-smart-helm-chart
	url = https://github.com/kaonmir/nemo-helm-charts
[submodule "src/2. eks-cluster-autoscale"]
	path = src/2. eks-cluster-autoscale
	url = https://github.com/kaonmir/terraform-aws-nemo-eks-cluster-autoscale
[submodule "src/1. eks-cluster"]
	path = src/1. eks-cluster
	url = https://github.com/kaonmir/terraform-aws-nemo-eks-cluster
