[submodule "keep/app/helm-charts"]
	path = keep/app/helm-charts
	url = https://github.com/kaonmir/nemo-helm-charts
[submodule "0. simple-architecutre"]
	path = 0. simple-architecutre
	url = https://github.com/kaonmir/terraform-aws-simple-architecture
